body{
background-color: rgb(233, 174, 72);
color:black;
font-family: "Chakra Petch", sans-serif;
display:flex;
justify-content:center;
align-items:center;
height: 700px;
margin:0;
}

button{
    background-color: black;
    color:white;
    font-family: "Chakra Petch", sans-serif;
}